* {
    box-sizing: border-box;
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: white; /* Optional: Set background color */
}
.login-container {
    text-align: center;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width for larger screens */
    margin-top: 10px; /* Margin from the top of the screen */
}
.input-field {
    margin: 10px 0;
}
input {
    width: 100%; /* Full width for input fields */
    padding: 12px; /* Increased padding for larger size */
    font-size: 26px; /* Decreased font size for input fields */
    border: 0.7px solid #e5e7eb; /* Border style from index.html */
    border-radius: 5px; /* Rounded corners */
}
.cta-button {
    width: 100%;
    background-color: rgb(45, 65, 255);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 28px;
    margin-bottom: 7px;
}
.create-account-button,
#register-next-button {
    background-color: #42b72a;
}
.forgot-password, .create-account, .login-link {
    color: rgb(53, 53, 53); /* Make links gray */
    text-decoration: none;
    
}
.create-account {
    color: gray; /* Default gray color */
    font-size: 16px; /* Increased font size for desktop */
}
@media (max-width: 600px) {
    input, .cta-button {
        font-size: 20px; /* Increased font size for mobile */
        padding: 10px; /* Adjust padding for mobile */
    }
    .create-account {
        font-size: 18px; /* Increased font size for mobile */
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    input, .cta-button {
        font-size: 22px; /* Increased font size for tablets */
        padding: 11px; /* Adjust padding for tablets */
    }
    .create-account {
        font-size: 17px; /* Increased font size for tablets */
    }
}
.register-container {
    text-align: center;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width for larger screens */
    margin-top: 10px; /* Margin from the top of the screen */
}
.forgot-password-space {
    margin: 10px 0; /* Added top and bottom margin */
}
.forgot-password {
    
    text-align: left; /* Align text to the left */
    font-size: 16px; /* Increased font size for desktop */
}
@media (max-width: 600px) {
    .forgot-password {
        font-size: 14px; /* Increased font size for mobile */
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .forgot-password {
        font-size: 15px; /* Increased font size for tablets */
    }
}
.login-link {
    font-size: 16px; /* Increased font size for desktop */
}
@media (max-width: 600px) {
    .login-link {
        font-size: 18px; /* Increased font size for mobile */
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .login-link {
        font-size: 17px; /* Increased font size for tablets */
    }
}
.create-account-text {
    margin-top: 15px; /* Margin for create account text */
}
.login-link-text {
    margin-top: 15px; /* Margin for login link text */
}
.first-time {
    color: gray;
    cursor: pointer; /* Change cursor to pointer on hover */
}
.create-account-link {
    color: #003bfc;
    font-weight: bold;
    text-decoration: none;
}
.create-account-link:hover {
    text-decoration: underline;
}
.error-message {
    color: red;
    font-size: 16px; /* Same size as forgot password */
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}
.input-error {
    border-color: red;
}
.back-arrow {
    text-align: left;
    margin-bottom: 10px;
    display: block;
}

.back-arrow i {
    cursor: pointer;
    font-size: 20px; /* Adjust size as needed */
    color: #666; /* Adjust color as needed. */
}
.forgot-password-link-container {
    margin: 13px 0;
    text-align: center;
}
.forgot-password-link {
    color: #386eff;
    text-decoration: none;
    font-size: 16px;
}
.forgot-password-link:hover {
    text-decoration: underline;
}
.login-link-text, .login-link {
    font-size: 16px;
}

@media (max-width: 600px) {
    .login-link-text, .login-link {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .login-link-text, .login-link {
        font-size: 15px;
    }
}